{% extends 'layout.html' %}

{% block title %}
    Chai aur Tweet
{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Welcome to Chai's Django</h1>

    <h3 class="mt-4">Search Result:</h3>
    <div class="container row gap-3 mt-3">
        {% for tweet in tweets %}
          <div class="card" style="width: 18rem;">
          {% if tweet.photo %}
              <img src="{{ tweet.photo.url }}" class="card-img-top" alt="...">
          {% else %}
              <p>No photo available</p>
          {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{tweet.user.username}}</h5>
              <p class="card-text">{{tweet.text}}</p>
              {% if tweet.user == user %}
              <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
              {% endif %}
            </div>
          </div>
        {% empty %}
          <h5><br> No Tweet Found !!</h5>
          <p>Your Search: <b><i>{{query}}</i></b> did not match any tweet.<br>Suggestions:
          <ul>
            <li>Make sure that all words are spelled correctly</li>
            <li>Try more general keywords</li>
            <li>Try fewer keywords</li>
            <li>Try different keywords</li>
          </ul>
          </p>
        {% endfor %}
    </div>
{% endblock %}